<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="header">
    Анализатор
</section>

<section layout:fragment="content">
    <form action="/urls" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Ссылка</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Проверить</button>
    </form>
</section>

</html>

</html>